<div class="col-md-8 col-md-offset-2">


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Environments</h3>
            <div class="box-tools pull-right"></div>
        </div><!-- /.box-header -->
        <div class="box-body" ng-if="project.projectEnvironments.length === 0">
            <div><p>You currently don't have any environments defined. Add a new ENV using the button below.</p></div>
        </div><!-- /.box-body -->
        <div class="box-body" ng-repeat="env in project.projectEnvironments">
            <h4>{{env.type}}</h4>
            <p>URL: {{env.URL}}</p>
            <p>username: {{env.username}}</p>
            <p>password: {{env.password}}</p>
            <p>description: {{env.description}}</p>
            <button type="button" class="btn btn-xs on-hover" ui-sref="app.edit-environment({projectId:project._id, envId:env.id})">Edit this environment</button>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-default" ui-sref="app.add-environment({projectId:project._id})">Add a new ENV</button>
        </div><!-- box-footer -->
    </div><!-- /.box -->


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Team</h3>
            <div class="box-tools pull-right"></div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div ng-if="project.teamMembers.length === 0"><p>You did not specify the team for this project. Add members using the manage team button below.</p></div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-default">Manage team</button>
        </div><!-- box-footer -->
    </div><!-- /.box -->


</div>
