<div class="col-md-8 col-md-offset-2">


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Environments</h3>
            <div class="box-tools pull-right"></div>
        </div><!-- /.box-header -->
        <div class="box-body" ng-if="environments.length === 0">
            <div><p>You currently don't have any environments defined. Add a new ENV using the button below.</p></div>
        </div><!-- /.box-body -->
        <div class="box-body env" ng-repeat="env in environments">
            <h4>{{env.environmentType}}<i class="fa fa-edit test-case-icons" ui-sref="app.edit-environment({projectId:project._id, envId:env._id})"></i><i class="fa fa-trash-o test-case-icons" ng-click="deleteEnvironment(env._id)"></i></h4>
            <p>URL: {{env.URL}}</p>
            <p>username: {{env.username}}</p>
            <p>password: {{env.password}}</p>
            <p ng-bind-html="env.description">description: {{env.description}}</p>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-default" ui-sref="app.add-environment({projectId:project._id})">Add a new ENV</button>
        </div><!-- box-footer -->
    </div><!-- /.box -->

</div>
