<section class="sidebar" style="height: auto;">
    <form class="sidebar-form">
        <div class="input-group">
            <input type="text" ng-model="search.$" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <hr />
    <ul class="sidebar-menu">
        <li class="list-header"></li>
        <li ui-sref="list.new-project" ui-sref-active="active">
            <a href="#">
                <i class="fa fa-plus"></i> <span>Add a new project</span>
            </a>
        </li>
    </ul>
    <hr />
    <ul class="sidebar-menu">
        <li  ui-sref="list.projects">
            <a href="#">
                <i class="fa fa-sign-out"></i> <span>Sign out</span>
            </a>
        </li>
    </ul>
    <hr />
</section>
