<div class="box-body" ng-repeat="group in testRun.testGroups"> <!-- /.ng-repeat for test sections -->
    <hr />
    <h5 class="group">{{group.name }}</h5>
    <div ng-repeat="case in testRun.casesTested" class="test-case-margin">
        <div ng-if="case.testGroup === group._id">
            <p class="test-case-name">{{case.testCaseName}}</p>
        </div>
    </div>
    <form class="form-inline test-case-form">
        <div class="form-group">
            <input class="form-control test-case-form-input"  placeholder="Add a new test case" ng-model="testCase.testCaseName">
            <button type="submit" class="btn btn-xs btn-default" ng-click="createTestCase(group._id)">Add case</button>
        </div>
    </form>
</div><!-- /.box-body -->
