<div class="col-md-8 col-md-offset-2">
    <div class="box">
        <div class="box-body">
            <form>
                <div class="form-group">
                    <label for="environment-type">Environment type</label>
                    <input ng-model="projectEnvironment.environmentType" class="form-control" id="environment-type" placeholder="Staging, Demo, Production, ...">
                </div>
                <div class="form-group">
                    <label for="environment-url">URL</label>
                    <input ng-model="projectEnvironment.URL" class="form-control" id="environment-url" placeholder="http://staging-google.com">
                </div>
                <div class="form-group">
                    <label for="environment-username">Username</label>
                    <input ng-model="projectEnvironment.username" class="form-control" id="environment-username" placeholder="user@test.com">
                </div>
                <div class="form-group">
                    <label for="environment-password">Password</label>
                    <input ng-model="projectEnvironment.password" class="form-control" id="environment-password" placeholder="password1234">
                </div>
                <div class="form-group">
                    <label for="environment-description">Description</label>
                    <textarea ng-model="projectEnvironment.description" ui-tinymce class="form-control" id="environment-description" placeholder="What do you use this environment for?" rows="3"></textarea>
                </div>
            </form>
            <div class="error-handling">
                <div ng-model="errors" ng-repeat="error in errors">
                    <p>{{error}}</p>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-success" ng-click="saveEnvironment()">Save this environment</button>
        </div><!-- box-footer -->
    </div><!-- /.box -->
</div>
